body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#cronometro {
    font-size: 36px;
    margin: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
